.searchbar {
    background-color:#27254C;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.searchbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar nav ul {
    list-style-type: none;
    display: flex;
}

.searchbar nav ul li {
    margin-right: 20px;
}

.searchbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
}
.searchbar nav ul li a:hover {
    color: #45B0D2;
}


.search-form {
    display: flex;
    align-items: center;
}

.search-form button:hover {
    background-color: #45B0D2;
}

.search-bar button {
    margin-left: 5px;
    font-size: 20px;
    background-color: #564A94;
    color: white; 
    padding: 10px 25px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .search-bar button:hover {
    background-color: #45B0D2;
  }

  .search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #9B8AB4;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  .search-bar input[type="text"]:focus {
    border-color: #45B0D2; 
    outline: none; 
  }