

<main class="main">
 
  <app-search-bar></app-search-bar>
  

<!-- Sección de bienvenida -->
<section class="hero">
    <div class="container">
        <h2>Bienvenido a Anime Tracker</h2>
        <p>¡Haz un seguimiento de los animes que estás viendo y descubre nuevos!</p>
        <a href="#" class="btn">Empezar</a>
    </div>
</section>

<!-- Pie de página -->
<footer class="footer">
    <div class="container">
        <p>© 2024 Anime Tracker. Todos los derechos reservados.</p>
    </div>
</footer>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
