
  
  <main class="main">
    <app-login-form></app-login-form>
<div *ngIf="authService.loggedIn">
    <app-search-bar (searchResultsChanged)="onSearchResultsChanged($event)"></app-search-bar>
    
    <!-- Sección de bienvenida -->
    <section class="hero" *ngIf="searchResults.length === 0">
      <div class="container">
        <h2>Bienvenido a Anime Tracker</h2>
        <p>¡Haz un seguimiento de los animes que estás viendo y descubre nuevos!</p>
      </div>
    </section>
  
    <!-- Mostrar la lista de animes cuando hay resultados -->
    <app-anime-list *ngIf="searchResults.length > 0" [animes]="searchResults"></app-anime-list>
    
    <router-outlet></router-outlet>
  
    <!-- Pie de página -->
    <footer class="footer">
      <div class="container">
        <p>© 2024 Anime Tracker. Todos los derechos reservados.</p>
      </div>
    </footer>
  </div>
  </main>
