<div *ngIf="animes.length > 0">
  <h3>Resultados de la búsqueda:</h3>
  <div class="anime-container">
    <div *ngFor="let anime of animes" class="anime-item" (click)="scrollToTop()" [routerLink]="['/anime', anime.id]">
      <img [src]="anime.coverImage.large" alt="{{ anime.title.romaji }}" width="100"/>
      <h4>{{ anime.title.romaji }} ({{ anime.title.english }})</h4>
      <p [innerHTML]="truncateDescription(anime.description)"></p>
      <p *ngIf="anime.averageScore !== null">User Rating: {{ anime.averageScore }}/100</p>
      <p *ngIf="anime.averageScore === null">User Rating: Not available</p>
    </div>
  </div>
</div>
<div *ngIf="animes.length === 0">
  <p>No se encontraron animes.</p>
</div>